<div [ngClass]="userData.role=='admin' ? 'cat__pages__login__header': 'cat__top-bar'">
        <div class="row head_margin_extra">
            <div class="col-xs-4" *ngIf="userData.role=='admin'">
                <div class="cat__pages__login__header__logo">
                    <a >
                        <img src="assets/img/2.png" alt="Clean UI Admin Template" />
                    </a>
                    <!--<a href="javascript: void(0);" class="btn btn-sm btn-outline ml-3 switch-to-fullscreen">Switch Fullscreen / Windowed</a>
                    <a href="javascript: void(0);" class="btn btn-sm btn-outline ml-3 random-bg-image" data-img="1">Randomize Background Image</a>-->
                </div>
            </div>
            <div class="col-xs-8" *ngIf="userData.role=='admin'">
                <div class="cat__pages__login__header__menu">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a [routerLink]="['']">&larr; Console</a></li>
                        <li class="list-inline-item active"><a [routerLink]="['']">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>    
            <div  class="cat__top-bar__right">
            <div class="cat__top-bar__item" *ngIf="userData.role=='student'">
                <div class="dropdown cat__top-bar__avatar-dropdown">
                    <a [routerLink]="['profile']" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="cat__top-bar__avatar" href="javascript:void(0);">
                                    <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg" />
                                </span>
                    </a>
                    <!--<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Home</div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User Boards</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue Navigator (35 New)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                    </ul>-->
                </div>
            </div>
            </div>

        
        
    </div>