 <div class="wrapper wrapper-full-page">
  <div class="full-page login-page" filter-color="black" data-image="assets/login.jpeg">
    <div class="content">
                <div class="container">
 <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form (ngSubmit)="onStudentRegister(f)" #f="ngForm" ngNativeValidate>
                                <div class="card card-login">
                                    <div class="card-header text-center" data-background-color="rose">
                                        <h4 class="card-title">Staff Register</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating is-empty">
                                                <input type="text"
                                                 class="form-control" 
                                                 name="username" 
                                                 id="username" 
                                                 placeholder="Username" 
                                                 ngModel
                                                 required
                                                 >
                                            <span class="material-input"></span></div>
                                        </div>
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                          <div class="form-group label-floating is-empty">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel required>
                                            <span class="material-input"></span></div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating is-empty">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel>
                                            <span class="material-input"></span></div>
                                        </div>
                                          <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating is-empty">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Confirm Password" ngModel>
                                            <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                     <div class="input-group">
                                         <span class="input-group-addon">
                                           <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                      I agree to the terms and conditions
                                      </label>
                                         </span>
                                     </div>
                                    <div class="footer text-center">
                                       <button type="submit" class="btn btn-rounded btn-primary mr-2 mb-2">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
