<!-- START: components/tabs -->
<section class="card" style="margin-top: 4rem;">
    <div class="card-header">
        <span class="cat__core__title">
            <strong>New Leave System</strong>
            <!--<a href="http://v4-alpha.getbootstrap.com/components/navs/" target="_blank" class="btn btn-sm btn-primary ml-2">Official Documentation <i class="icmn-link ml-1"><!-- </i></a>-->
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">
               
                <div class="mb-5">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs mb-4" role="tablist" style="background: white;">
                            <li class="nav-item">
                                <a class="nav-link active" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#home1" role="tab">Report Publishing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#profile1" role="tab">Exam</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#messages1" role="tab">New Leave System</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#settings1" role="tab">Insurance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#appraisal" role="tab">Performance Appraisal</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#analysis_draft" role="tab">Analysis Draft</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#remarks_template" role="tab">Remarks Template</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" style="color: black !important;padding: 10px 10px;" href="javascript: void(0);" data-toggle="tab" data-target="#remarks_template1" role="tab">Remarks Template(All)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home1" role="tabcard">
                                Mel, incorruptis confidam derepta inportuno perpetuam placatae. Expetenda summam
                                venandi cotidie euripidis vexetur, scribendi recta fortunam
                                hanc oblivione. Iniuria ipso statuam utrumque asperiores
                                eae cogitemus, evertitur triarium perspexit conclusionemque
                                propterea repellendus agatur scilicet, leniter intervalla
                                nocet praeterierunt tuum privatione, senserit sale vias,
                                delectatum dedecora ratione o religionis derigatur diuturnum
                                arbitrantur conspiratione, legam opera splendore iste democritum
                                apte romanum legum egregios.
                            </div>
                            <div class="tab-pane" id="profile1" role="tabcard">
                                Mnesarchum velit cumanum utuntur tantam deterritum, democritum vulgo contumeliae
                                abest studuisse quanta telos. Inmensae. Arbitratu dixisset
                                invidiae ferre constituto gaudeat contentam, omnium nescius,
                                consistat interesse animi, amet fuisset numen graecos incidunt
                                euripidis praesens, homines religionis dirigentur postulant.
                                Magnum utrumvis gravitate appareat fabulae facio perveniri
                                fruenda indicaverunt texit, frequenter probet diligenter
                                sententia meam distinctio theseo legerint corporis quoquo,
                                optari futurove expedita.
                            </div>
                            <div class="tab-pane" id="messages1" role="tabcard">
                             <div _ngcontent-c11="" class="tab-pane active" id="messages1" role="tabcard" aria-expanded="true">
                              <div style="
                              text-align: -webkit-center;
                              font-weight: bolder;
                          ">Only For Full Time Staff</div>
                          <div>Dear staff member,</div>
                                <div>As from July 25, a new ‘Leave System’ will be introduced at Math Vision to ensure a smoother functioning for the management and the staff. The number of leaves allocated has been revised to 24, and the new breakdown is as follows:</div>
    						              	<ul>
                                    <li>Sick Leaves: 14</li>
                                    <li>Annual Leaves: 10</li>
    						                	</ul>    
                                <div>The 24 leaves will be equally distributed over 12 months, whereby each staff will be allowed 2 days of leave every month. Note that leaves will not be carried forward on a monthly basis.</div>
                                <div>The following scenarios will provide a clearer picture of the new ‘Leave System’:								  </div>
    						              	<div> a) Scenario 1.</div> 
                                <div>Assuming a monthly salary of $3000, if an employee has not taken any leave in a particular month (25th July to 24th August). The salary for the month of August (Aug 1 - Aug 30) will be calculated as follows:</div>
                                <div>Employee was entitled to 2 days of leave. Since no single leave was taken for that month, the employee will be paid for an extra 2 days which equals:<div>
                                    <div>(3000/26) x 2 = 230.76</div>
                                
                                    <div>The total salary for this month will be: $3000 + $230.76 = $3230.76.</div>

                                    <div>b) Scenario 2.</div> 
                                <div>Assuming a monthly salary of $3000, if an employee has taken 3 days leave in a particular month (25th July to 24th August). The salary for the month of August (Aug 1 - Aug 30) will be calculated as follows:</div>
                                <div>Employee was entitled to 2 days of leave but exceeded leaves allowed for the month by 1 day. The resulting deduction for August equals:</div>
                                <div>(3000/26) x 1 = 115.38</div>
                                
                                    <div>The total salary for this month will be: $3000 - $115.38 = $2884.62.</div>
                                
                                    <div>c) Scenario 3.</div>
                                    
                                <div>Assuming a monthly salary of $3000, if an employee has taken 2 days leave in a particular month (25th July to 24th August). The salary for the month of August (Aug 1 - Aug 30) will be calculated as follows:</div>
                                <div>Employee was entitled to 2 days of leave, equal to the number of leaves taken for the month.</div>  
                                <div>Hence, salary paid for the month will be equal to the actual salary of $3000 for the month of November.</div>
                              
                                    <div>d) Scenario 4. </div>
                                <div>Assuming a monthly salary of $3000, if an employee has taken 10 days leave in a particular month (25th July to 24th August). The salary for the month of August (Aug 1 - Aug 30) will be calculated as follows:</div>
                                <div>Employee was entitled to 2 days of leave but exceeded leaves allowed for the month by 8 days. The resulting deduction for November equals:</div>
                                    
                                <div>(3000/26) x 8 = 923.07</div>
                                
                                    <div>The total salary for this month will be: $3000 - $923.07 = $2076.93.</div>
                                <div>Important Note: The above calculation will also apply in the case of long leaves. Hence, you are requested to plan for your long leaves financially.</div>

                                </div>
                              </div>
                            </div>

                            </div>
                            <div class="tab-pane" id="settings1" role="tabcard">
                                 <div style="
                              text-align: -webkit-center;
                              font-weight: bolder;
                                             ">Only For Full Time Staff</div>
                                <div>Dear All,</div>
                               <div> We wish to inform you about a change in the company's medical Insurance plan. Up to now, we have been using AXA's 'co-pay $20' plan. This plan proved beneficial by lightening the financial burden faced by our staff due to medical bills.</div>
                                <div>Unfortunately, it also proved limited in terms of coverage and benefits on some occasions, particularly in the case of hospitalisation. Medical cost in Singapore is one of the highest and we feel that it is our duty to protect our staff members against unexpected medical bills. When care is needed, we want to focus on recovering rather than stressing over medical bills.</div>
                                <div>Hence, We have decided to change the company's insurance plan to one which boasts a higher level of benefits and coverage to further help staff members to meet the expenses in case of medical emergencies. We are still finalising the details of the new policy and further details will be communicated to you soon.</div>
                                <div>Note that, in the meantime, the old plan will not be valid. It is a small inconvenience that will surely be outweighed by the benefits of the new plan. We will inform you further very soon.</div>
                                <div>Divesh Shah</div> 
                                <div>Math Vision</div>

                            </div>
                             <div class="tab-pane" id="appraisal" role="tabcard">
                              <div style="
                              text-align: -webkit-center;
                              font-weight: bolder;
                                           ">Only For Full Time Staff</div>
                                <div>Dear teachers,</div>
                                <div>Please be informed that Math Vision has decided to revamp its performance appraisal system which has been serving as basis for deciding upon promotions and salary increments.</div>
                                <div>A more individualized system that gives more prominence to personal performances will come into effect as from January 01, 2017. The hallmarks of the new system will be:</div>
                                <ul>
                                  <li> Attendance – based on how regularly teacher takes leaves.</li>
                                  <li>Punctuality – based on the number of lateness per month.</li>
                                  <li>Team-Spirit – willingness to help and train colleagues, and co-operate with in-charges.</li>
                                  <li>Versatility – ability and willingness to teach different subjects, grades and syllabuses.</li>
                                  <li>Sense of responsibility – Based on how often teacher takes leaves on weekend and length of notice period for long-term leaves.</li>
                                  </ul>                              
                                  <div>  Hence, more emphasis will be laid upon the talent of teachers, their attitude towards work and their willingness to learn and progress within the company. The new system will be jointly managed by the in-charges and me. As such, in-charges will be given the responsibility to individually rate and evaluate the performances of teachers according to the criteria listed above. These internal feedbacks will be the predominant factor affecting chances of promotion or salary increments.</div>
                                <div>Please inform me in case you need any clarification with respect to the new performance appraisal system.</div> 
                                <div>Divesh Shah </div>
                                <div>Math Vision.</div>

                            </div>
                            <div class="tab-pane" id="analysis_draft" role="tabcard">
                               <div style="
                              text-align: -webkit-center;
                              font-weight: bolder;
                ">Only For Full Time Staff</div>
 
           
                            <div>Dear in-charges,</div>
                                                      
                            <div>As it was discussed earlier, we now have an analysis tab concerning students’ attendance, weaknesses and strengths.</div>
                                        
                            <div>The following is a non-exhaustive list of weaknesses and strengths that can be used to assess the students:</div>
                                      
                            <div>Weaknesses</div>
                            <ul>                     
                                <li>Lack of discipline</li>
                                                      
                                <li>Confuses between technical terms</li>
                                  
                                <li>Written work is poorly organized</li>
                                      
                                <li>Unable to perform mental math</li>
                                
                                <li>Rarely uses mathematical terms both orally and in written work</li>
                                
                                <li>Lack of confidence</li>
                                
                                <li>Easily distracted/Lack of focus</li>
                                  
                                <li>Lack of motivation to perform well</li>
                                
                                <li>Poor stress management</li>
                                                      
                                <li>Poor time management skills</li>
                            </ul>
                            <div>Strengths</div>
                          <ul>                             	
                                <li>Enthusiastic</li>
                                                    
                                <li>Serious in class</li>
                                                      
                                <li>Determined to do well</li>
                                                      
                                <li>Dedicated</li>
                                                  
                                <li>Write ideas in a logical sequence</li>
                                    
                                <li>Ideas are clearly written and expressed</li>
                                      
                                <li>Focused</li>
                                                
                                <li>Confident</li>
                                                  
                                <li>Willingness and interest to learn new concepts</li>
                                              
                                <li>Able to think logically</li>
                                                      
                                <li>Uses and understands math vocabulary</li>
                                      
                                <li>Hardworking</li>
                                                    
                                <li>Organized</li>
                                                  
                                <li>Able to work independently</li>
                                          
                                <li>Analytical</li>
                                                      
                                <li>Perseverance</li>
                                                    
                                <li>Ability to manage stress during tests</li>
                                        
                                <li>Quick learner</li>
                                                      
                                <li>Can assimilate concepts easily</li>
                                  
                                <li>Very good listener</li>
                                                      
                                <li>Very good memory</li>
                            </ul>
                                
                            <div>Divesh Shah </div>
                                                  
                            <div>Math Vision</div>

                            </div>
                            <div class="tab-pane" id="remarks_template" role="tabcard">
                             <div style="
                              text-align: -webkit-center;
                              font-weight: bolder;
                 ">Only For Full Time Staff</div>
           
                          <ul>
                          <li>(Name of student) should show clear working steps when attempting the problems. Skipping steps may lead to confusion and silly mistakes.</li>
                                    
                              <li>(Name of student) should make a list of all formulae/laws/identities and study them according to the concepts to avoid over dependence on data booklet.</li>
                                                    
                              <li>(Name of student) should show more seriousness towards attempting the assigned homework and practising questions to improve on writing skills.</li>
                                          
                              <li>(Name of student) needs to be more focused in class to better grasp the concepts being discussed.</li>
                                          
                              <li>(Name of student) should regularly review notes from previous chapters to remember the concepts well and understand new topics better as many topics are related.</li>
                                                    
                              <li>(Name of student) is advised to read class notes and the textbook to further build-up knowledge about the chapter.</li>
                                                    
                              <li>(Name of student) needs to improve on the presentation of answers.</li>
                                                    
                              <li>(Name of student) should practise and learn graphs according to the related concepts to remember the graphs well.</li>
                                                    
                              <li>(Name of student) should prepare a study plan to be more organized and make sure to allocate enough time towards areas of concern.</li>
                                  
                              <li>(Name of student) should use more keywords/scientific terms/technical terms when answering questions.</li>
                                                    
                              <li>(Name of student) needs to improve on the quality of homework.</li>
                                                    
                              <li>(Name of student) should be more meticulous when answering questions and double-check his/her workings to avoid silly mistakes.</li>
                          
                              <li>(Name of student) should time himself/herself when practising questions to improve on time management skills.</li>
                                                    
                              <li>(Name of student) should highlight important definitions and make sure he/she remembers them properly</li>
                            </ul>
                            </div>

                            <div class="tab-pane" id="remarks_template1" role="tabcard">
                             <div style="
                              text-align: -webkit-center;
                              font-weight: bolder;
                 ">Only For Full Time Staff</div>
                            <div>Dear staff members,</div>
                            <div> cleanliness is primarily the responsibility of the cleaning staff, we also have a duty towards maintaining a clean and tidy work environment.</div>
                            <div> Hence, i request everyone to undertake the following actions to keep our environment clean and healthy:</div>
                            <ul>
                            <li>Avoid bringing drinks such as coffee and tea to your table. It is difficult to clean if it spills.</li>
                            <li>Throw away coffee cups instead of keeping it in the shelves for days/weeks.</li>
                            <li>Avoid storing food and other perishable items in the shelves.</li>
                            <li>Clear your table before leaving Math Vision. Put all stationery back in the stationery boxes and books back in the shelves.</li>
                            <li>Do not smoke in the toilets and keep the toilets clean in general.</li>
                            </ul>
                            <div>Thank you all for your understanding and cooperation.</div>
                            <div> Divesh Shah </div>
                            <div> Math Vision </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>    