        <div class="wrapper wrapper-full-page">
        <div class="full-page" filter-color="black" data-image="assets/login.jpeg">
        <div class="content">
        <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 custompage_top">
        <form (ngSubmit)="onStudentRegister(f)" #f="ngForm" ngNativeValidate>
        <ul class="nav nav-tab navtab_right">
          <li class="nav-item active border_tab_head">
            <a class="nav-link" data-toggle="tab" href="#checkin" role="tab">In</a>
          </li>
           <li class="nav-item ">
             <a class="nav-link " data-toggle="tab" href="#checkout" role="tab">
               Out
             </a>
           </li>
        </ul>
        <div class="card card-login card_top">
          
        
    <div class="tab-content"> 
      <div id="checkout" class="card-content tab-pane fade">
        <div class="card-header text-center title_margin_top" data-background-color="rose">
            <h4 class="card-title">Staff Book Out</h4>
          </div>


        <div class="input-group">
        <span class="input-group-addon">
         Name
        </span>  
        <div class="form-group row">
       
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        name="name" 
        id="name" 
   
        ngModel
        required
        >
        <!--<ng2-completer [(ngModel)]="selectedColor" [datasource]="searchData" [minSearchLength]="0" [clearSelected]="true" (selected)="onSelected($event)"></ng2-completer>-->
        </div>
        </div>
        </div>

        <div class="input-group">
        <span class="input-group-addon">
         Book-In Time
        </span>  
        <div class="form-group row">
       
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        name="book_in" 
        id="book_in" 
   
        ngModel
        disabled
        required
        >
        </div>
        </div>
        </div>

        <div class="input-group">
        <span class="input-group-addon">
         Book-Out Time
        </span>  
        <div class="form-group row">
       
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        name="book_in" 
        id="book_in" 
   
        ngModel
        disabled
        required
        >
        </div>
        </div>
        </div>

        <div class="input-group">
        <span class="input-group-addon">
         In-charge
        </span>  
        <div class="form-group row">
       
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        name="name" 
        id="name" 
   
        ngModel
        required
        >
        </div>
        </div>
        </div>
        

       </div>   
      
        <div id="checkin" class="card-content tab-pane fade active in" >
          <div class="card-header text-center title_margin_top" data-background-color="rose">
            <h4 class="card-title">Staff Book In</h4>
          </div>
        

        <div class="input-group">
        <span class="input-group-addon">
         Name
        </span>  
        <div class="form-group row">
       
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        name="name" 
        id="name" 
   
        ngModel
        required
        >
        </div>
        </div>
        </div>

        
        <div class="input-group">
        <span class="input-group-addon">
         Book-In Time
        </span>  
        <div class="form-group row">
       
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        name="book_in" 
        id="book_in" 
   
        ngModel
        disabled
        required
        >
        </div>
        </div>
        </div>

        <div class="input-group">
        <span class="input-group-addon">
         In-charge
        </span>  
        <div class="form-group row">
       
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        name="book_in" 
        id="book_in" 
   
        ngModel
        required
        >
        </div>
        </div>
        </div>


        </div>
        <div class="footer text-center">
        <button type="submit" class="btn btn-rounded btn-primary mr-2 mb-2">Register</button>
        </div>
        
        </div>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
