<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" filter-color="black" style="background-image: url(assets/img/app_back.jpeg);
    background-size: cover;">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
            <form (ngSubmit)="onStudentRegister()" [formGroup]="studentForm" novalidate>
              <div class="card card-login">
                <div class="card-header text-center" data-background-color="rose">
                  <h4 class="card-title">Student Register</h4>
                </div>
                <div class="card-content card_content_left_margin">

                   <h4>Account Details</h4>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Username</label>
                    <div class="col-10">
                      <input type="text" class="form-control form_input_border" name="username" id="username" formControlName="username" placeholder="Username" required>
                    </div>
                     <div *ngIf="isFormSubmit && username.errors">
                        <p class="red-alert" *ngIf="username.errors.required">Username is required</p>
                      </div>
                  </div>

                   <div class="form-group row">
                    <label for="exampleInputPassword1" class="col-2 col-form-label">Password</label>
                    <div class="col-4">
                    <input type="password" class="form-control form_input_border" id="exampleInputPassword1" formControlName="password" placeholder="Password">
                    </div>
                    <div class="red-alert" *ngIf="isFormSubmit && password.errors">
                        <p *ngIf="password.errors.required">Password is required</p>
                        <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength -
                          password.errors.minlength.actualLength}} characters </p>
                      </div>
                    <label for="exampleInputPassword1" class="col-2 col-form-label">Repeat Password</label>
                    <div class="col-4">
                    <input type="password" class="form-control form_input_border" id="exampleInputPassword1" formControlName="confirmPassword" placeholder="Password">
                    </div>
                  </div>

                  <!--Account detail end-->

                   <h4>Student Particulars</h4>
                   <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">First Name</label>
                    <div class="col-4">
                      <input type="text" formControlName="firstname" class="form-control form_input_border" name="firstname" id="first_name" placeholder="First Name" required>
                    </div>
                    <div *ngIf="isFormSubmit && firstname.errors">
                        <p class="red-alert" *ngIf="firstname.errors.required">First Name is required</p>
                      </div>
                    <label for="example-text-input" class="col-2 col-form-label">Last Name</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control form_input_border" name="lastname" id="last_name" formControlName="lastname" placeholder="Last Name" required>
                        </div>
                         <div *ngIf="isFormSubmit && lastname.errors">
                        <p class="red-alert" *ngIf="lastname.errors.required">Last Name is required</p>
                      </div>
                    </div>


                    <div class="form-group row">
                       <label for="inputEmail3" class="col-2 col-form-label">School</label>
                      <div class="col-sm-4">
                        <select class="custom-select" formControlName="schoolname">
                        <option value="AIS" selected>AIS</option>
                        <option value="Chatsworth">Chatsworth</option>
                        <option value="CIS">CIS</option>
                        <option value="Dover Court IS">Dover Court IS</option>
                        <option value="DPS">DPS</option>
                        <option value="Dulwich">Dulwich</option>
                        <option value="FIS">FIS</option>
                        <option value="GEMS">GEMS</option>
                        <option value="GESS">GESS</option>
                        <option value="GIIS">GIIS</option>
                        <option value="Insworld School">Insworld School</option>
                        <option value="ICS">ICS</option>
                        <option value="ISS">ISS</option>
                        <option value="Nexus">Nexus</option>
                        <option value="NPS">NPS</option>
                        <option value="OFS">OFS</option>
                        <option value="PVT">PVT</option>
                        <option value="SAS">SAS</option>
                        <option value="SAIS">SAIS</option>
                        <option value="Tanglin Trust School">Tanglin Trust School</option>
                        <option value="UWC Dover">UWC Dover</option>
                        <option value="UWC East">UWC East</option>
                        <option value="Singapore Local School">Singapore Local School</option>
                        <option value="University">University</option>
                        <option value="Online">Online</option>
                        <option value="Hostel">Hostel</option>
                        <option value="other">Others</option>
                        </select>
                      </div>
                    
                      <label for="inputEmail3" class="col-2 col-form-label">Grade</label>
                      <div class="col-sm-4">
                        <select class="custom-select" formControlName="grade">
                        <option value="K1" selected>K1</option>
                        <option value="K2" selected>K2</option>
                        <option value="Grade 1" selected>Grade 1</option>
                        <option value="Grade 2">Grade 2</option>
                        <option value="Grade 3">Grade 3</option>
                        <option value="Grade 4">Grade 4</option>
                        <option value="Grade 5">Grade 5</option>
                        <option value="Grade 6">Grade 6</option>
                        <option value="Grade 7">Grade 7</option>
                        <option value="Grade 8">Grade 8</option>
                        <option value="Grade9">Grade 9</option>
                        <option value="Grade 10">Grade 10</option>
                        <option value="Grade 11">Grade 11</option>
                        <option value="Grade 12">Grade 12</option>
                        <option value="University">University</option>
                        </select>
                      </div>
                    </div>
                  

                  <div class="form-group row">
                   <legend class="col-form-legend col-sm-2">Gender</legend>
                    <div class="col-4">
                   <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" id="gridRadios3" value="Male" checked formControlName="gender">
                            Male
                      </label>
                    </div>
                     <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" id="gridRadios3" value="Female" formControlName="gender">
                            Female
                      </label>
                    </div>
                    </div>
                    
                      <label for="example-text-input" class="col-2 col-form-label">Date of  Birth</label>
                    <div class="col-4">
                      <input type="text" class="form-control form_input_border" name="dob" id="dob" placeholder="Date of  Birth" required>
                    </div>
                    </div>

                    <div class="form-group row">
                       <label for="inputEmail3" class="col-2 col-form-label">Email</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form_input_border" placeholder="Email" formControlName="email">
                      </div>
                      <div *ngIf="isFormSubmit && email.errors">
                        <p class="red-alert" *ngIf="email.errors.required">Email is required</p>
                      </div>
                       <label for="inputEmail3" class="col-2 col-form-label">Contact Number</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form_input_border" placeholder="Contact Number" formControlName="contactnumber">
                      </div>
                    </div>


                  <!--student particular end-->

                  <h4>Parent/Guardian Particulars</h4>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-2 col-form-label">First Name</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form_input_border" name="parent_firstname" placeholder="First Name" formControlName="parent_firstname">
                      </div>
                      <label for="inputEmail3" class="col-2 col-form-label">Last Name</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form_input_border" name="parent_lastname" placeholder="Last Name" formControlName="parent_lastname">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="inputEmail3" class="col-2 col-form-label">Contact Number</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form_input_border" placeholder="Contact Number" formControlName="parent_contactnumber">
                      </div>
                       <label for="inputEmail3" class="col-2 col-form-label">Email</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form_input_border" placeholder="Email" formControlName="parent_email">
                      </div>
                      <!--<div *ngIf="isFormSubmit && f_email.errors">
                        <p class="red-alert" *ngIf="f_email.errors.required">Email is required</p>
                      </div>-->
                    </div>
                  
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-2 col-form-label">Secondary Contact Number</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form_input_border" placeholder="Contact Number" formControlName="parent_secphonenumber">
                      </div>
                  </div>    

                  <div class="footer text-center">
                    <button type="submit" class="btn btn-rounded btn-primary mr-2 mb-2">Register</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>