        <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="assets/login.jpeg">
        <div class="content">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
        <form (ngSubmit)="onStudentRegister(f)"  [formGroup]="studentForm" novalidate>
        <div class="card card-login">
        <div class="card-header text-center" data-background-color="rose">
        <h4 class="card-title">Student Register</h4>
        </div>
        <div class="card-content">
            <div class="input-group">
        <span class="input-group-addon">
        Username
        </span> 
         <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Username</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="Username" 
        formControlName="userName"
        >
        </div>
         <div
           *ngIf="isFormSubmit && userName.errors">
        <p class="red-alert" *ngIf="userName.errors.required">Username is required</p>
      </div>
        </div>
       </div>

        <div class="input-group">
        <span class="input-group-addon">
        Password
        </span> 
         <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Password</label>-->
        <div class="col-sm-10">
        <input type="password"
        class="form-control" 
        placeholder="Password" 
        formControlName="password"
        >
        </div>
          <div class="red-alert"
         *ngIf="isFormSubmit && password.errors">
      <p *ngIf="password.errors.required">Password is required</p>
      <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
        </div>
        </div>

        <div class="input-group">
        <span class="input-group-addon">
        Repeat Password
        </span> 
         <div class="form-group row">
            <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Repeat Password</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control"  
        placeholder="Repeat Password" 
        formControlName="confirmPassword"
        [equalTo]="password"
        >
        </div>
        <div class="red-alert">
      <p *ngIf="confirmPassword.errors?.equalTo">Password mismatch</p>
    </div>
        </div>
        </div>
        <div class="input-group">
        <span class="input-group-addon">
        First Name
        </span>    
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">First Name</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control"
        formControlName="firstName" 
        placeholder="First Name" 
        required
        >
        </div>
          <div
           *ngIf="isFormSubmit && firstName.errors">
        <p class="red-alert" *ngIf="firstName.errors.required">First Name is required</p>
      </div>

        </div>
        </div>

        <div class="input-group">
        <span class="input-group-addon">
         Last Name
        </span>  
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Last Name</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="Last Name" 
        formControlName="lastName"
        >
        </div>
         <div
           *ngIf="isFormSubmit && lastName.errors">
        <p class="red-alert" *ngIf="lastName.errors.required">Last Name is required</p>
      </div>
        </div>
        </div>
         <div class="input-group">
        <span class="input-group-addon">
        Gender
        </span>  
        <fieldset class="form-group row">
      <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Gender</label>-->
        <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="gridRadios3" id="gridRadios3" value="option1" checked>
            Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">  
            <input type="radio" class="form-check-input" name="gridRadios3" id="gridRadios3" value="option2" >
            Female
          </label>
        </div> 
        </div>
        </fieldset>
        </div>


        <div class="input-group">
        <span class="input-group-addon">
        School
        </span>     
       <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Status</label>-->
        <div class="col-sm-10">
            <select class="custom-select">
            <option *ngFor="let school of schools">{{school}}</option>
            </select>
        </div>
        </div> 
       </div>


        <div class="input-group">
        <span class="input-group-addon">
        Grade
        </span>     
       <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Status</label>-->
        <div class="col-sm-10">
            <select class="custom-select">
            <option *ngFor="let grade of grades">{{grade}}</option>
            </select>
        </div>
        </div> 
       </div>


          <div class="input-group">
        <span class="input-group-addon">
        Email
        </span> 
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Email</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="Email" 
        formControlName="email">
        </div>
         <div
           *ngIf="isFormSubmit && email.errors">
        <p class="red-alert" *ngIf="email.errors.required">Email is required</p>
        <p class="red-alert" *ngIf="email.errors.pattern">The email address must be similar to adcd@xyz.com</p>
      </div>
        </div>
          </div>

           <div class="input-group">
        <span class="input-group-addon">
        Contact number
        </span> 
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Contact number</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="First Name" 
        >
        </div>
        </div>
           </div>

       


   
        <!--<div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </div>
        </div>-->

        <!--<div class="input-group">
        <span class="input-group-addon">
        email
        </span>
        <div class="form-group label-floating is-empty">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel required>
        <span class="material-input"></span></div>
        </div>
        <div class="input-group">
        <span class="input-group-addon">
        <i class="material-icons">lock_outline</i>
        </span>
        <div class="form-group label-floating is-empty">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel>
        <span class="material-input"></span></div>
        </div>
        <div class="input-group">
        <span class="input-group-addon">
        <i class="material-icons">lock_outline</i>
        </span>
        <div class="form-group label-floating is-empty">
        <input type="password" class="form-control" name="password" id="password" placeholder="Confirm Password" ngModel>
        <span class="material-input"></span></div>
        </div>
        </div>-->
       
        <div class="input-group">
        <span class="input-group-addon">
        <b> Parent/Guardian Particulars</b>
        </span> 
        </div>
        <div class="input-group">
        <span class="input-group-addon">
        Relationship to Student
        </span>     
       <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Status</label>-->
        <div class="col-sm-10">
            <select class="custom-select">
            <option *ngFor="let relation of relationships">{{relation}}</option>
            </select>
        </div>
        </div> 
       </div>
       <div class="input-group">
        <span class="input-group-addon">
        First Name
        </span>    
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">First Name</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control"
        placeholder="First Name" 
        required
        >
        </div>

        </div>
        </div>

        <div class="input-group">
        <span class="input-group-addon">
         Last Name
        </span>  
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Last Name</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="Last Name" 
        >
        </div>
        </div>
        </div>
                   <div class="input-group">
        <span class="input-group-addon">
        Email(optional)
        </span> 
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Email</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="Email">
        </div>
        </div>
          </div>
              <div class="input-group">
        <span class="input-group-addon">
        Contact number(Primary)
        </span> 
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Contact number</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="First Name" 
        >
        </div>
        </div>
           </div>

                 <div class="input-group">
        <span class="input-group-addon">
        Contact number(Secondary)
        </span> 
        <div class="form-group row">
        <!--<label for="inputEmail3" class="col-sm-6 col-form-label">Contact number</label>-->
        <div class="col-sm-10">
        <input type="text"
        class="form-control" 
        placeholder="First Name" 
        >
        </div>
        </div>
           </div>

        <div class="input-group">
        <span class="input-group-addon">
        <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        I agree to the terms and conditions
        </label>
        </span>
        </div>
        <div class="footer text-center">
        <button type="submit" class="btn btn-rounded btn-primary mr-2 mb-2">Register</button>
        </div>
        </div>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
